@{
    ViewData["Title"] = "Welcome to MyCat!";
}

<div class="text-center mt-4">
    <h1 class="display-4">🐱 Welcome to MyCat!</h1>
    <p class="lead">This is your friendly cat management site. You can add, view, and manage your favorite feline friends with ease.</p>

    <img src="https://c4.wallpaperflare.com/wallpaper/29/134/401/cute-kitten-wallpaper-preview.jpg" class="img-fluid rounded shadow-sm mb-4" alt="Cute cat" />

    <p>
        <a class="btn btn-primary btn-lg" asp-controller="Cats" asp-action="Index">
            View All Cats 🐾
        </a>
    </p>
</div>
